﻿@{
    ViewBag.Title = "Application Info";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<div class="text-center">
    <img src="@Url.Content("~/Themes/assets/images/logo.png")" />
    <h2>Aplikasi @Inventory.Helper.ConfigModel.AppName</h2>
    <p>Version @Inventory.Helper.ConfigModel.Version</p>

    <address>
        <strong>website : </strong>   <a href="http://sanatasystem.net/" target="_blank">www.sanatasystem.net</a><br />
    </address>
</div>