﻿@using Marketing.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Perusahaan Kerjasama</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kode</label>
                                    <div class="col-md-9">
                                        <input type="text" name="KodeCustomer" class="form-control" hidden />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="NamaCustomer" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alias</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Alias" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kategori</label>
                                    <div class="col-md-9">
                                        <select required name="Kategori" class="form-control">
                                            @Html.Raw(HList.Setup_SetupPerusahaanKerjasama_Kategori)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat 1</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Alamat1" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat Claim 1</label>
                                    <div class="col-md-9">
                                        <input type="text" name="AlamatClaim1" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat Claim 2</label>
                                    <div class="col-md-9">
                                        <input type="text" name="AlamatClaim2" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat Claim 3</label>
                                    <div class="col-md-9">
                                        <input type="text" name="AlamatClaim3" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kode Pos</label>
                                    <div class="col-md-9">
                                        <input type="text" name="KodePos" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Telp 1</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoTelp1" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Telp 2</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoTelp2" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Telp 3</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoTelp3" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Fax</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoFax" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Email" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Website</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Website" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No NPWP</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoNPWP" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mata Uang</label>
                                    <div class="col-md-9">
                                        <select name="MataUang" class="form-control">
                                            @Html.Raw(HList.Setup_SetupPerusahaanKerjasama_MataUang)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Batas Kredit</label>
                                    <div class="col-md-9">
                                        <input type="text" name="BatasKredit" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Type Pembayaran</label>
                                    <div class="col-md-9">
                                        <select name="TypePembayaran" class="form-control">
                                            @Html.Raw(HList.Setup_SetupPerusahaanKerjasama_TipePembayaran)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tem Pembayaran</label>
                                    <div class="col-md-9">
                                        <input type="number" name="TemPembayaran" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">NoAkun</label>
                                    <div class="col-md-9">
                                        <select name="NoAkun" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            Active
                                            <input type="checkbox" name="Active" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="isetup.adddetailbody(0)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>Nama</td>
                                                <td>Alamat</td>
                                                <td>TelpKantor</td>
                                                <td>TelpRumah</td>
                                                <td>HP</td>
                                                <td>Fax</td>
                                                <td>TglLahir</td>
                                                <td>Jabatan</td>
                                                <td>Email</td>
                                                <td>Keterangan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['KodeCustomer'].value = r.Data.KodeCustomer;
                    t['NamaCustomer'].value = r.Data.NamaCustomer;
                    t['Alias'].value = r.Data.Alias;
                    t['Kategori'].value = r.Data.Kategori;
                    t['Alamat1'].value = r.Data.Alamat1;
                    t['AlamatClaim1'].value = r.Data.AlamatClaim1;
                    t['AlamatClaim2'].value = r.Data.AlamatClaim2;
                    t['AlamatClaim3'].value = r.Data.AlamatClaim3;
                    t['KodePos'].value = r.Data.KodePos;
                    t['NoTelp1'].value = r.Data.NoTelp1;
                    t['NoTelp2'].value = r.Data.NoTelp2;
                    t['NoTelp3'].value = r.Data.NoTelp3;
                    t['NoFax'].value = r.Data.NoFax;
                    t['Email'].value = r.Data.Email;
                    t['Website'].value = r.Data.Website;
                    t['NoNPWP'].value = r.Data.NoNPWP;
                    t['MataUang'].value = r.Data.MataUang;
                    t['TypePembayaran'].value = r.Data.TypePembayaran;
                    t['NoAkun'].value = r.Data.NoAkun;
                    t['Active'].checked = r.Data.Active;
                    t['TemPembayaran'].value = r.Data.TemPembayaran;

                    isetup.cleave_BatasKredit.setRawValue(r.Data.BatasKredit);
                    //t['BatasKredit'].value = r.Data.BatasKredit;

                    if (r.Data.NoAkun) {
                        const option = new Option(`${r.Data.NoAkun} - ${r.Data.AkunNama}`, r.Data.IdAkun, true, true);
                        $(t['NoAkun']).append(option);
                    }

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Nama,
                            value.Alamat,
                            value.TelpKantor,
                            value.TelpRumah,
                            value.HP,
                            value.Fax,
                            value.TglLahir,
                            value.Jabatan,
                            value.Email,
                            value.Keterangan,
                        );
                    });

                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(isetup.form['Id']).attr('readonly', 'readonly');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        KodeCustomer: t['KodeCustomer'].value,
                        NamaCustomer: t['NamaCustomer'].value,
                        Alias: t['Alias'].value,
                        Kategori: t['Kategori'].value,
                        Alamat1: t['Alamat1'].value,
                        AlamatClaim1: t['AlamatClaim1'].value,
                        AlamatClaim2: t['AlamatClaim2'].value,
                        AlamatClaim3: t['AlamatClaim3'].value,
                        KodePos: t['KodePos'].value,
                        NoTelp1: t['NoTelp1'].value,
                        NoTelp2: t['NoTelp2'].value,
                        NoTelp3: t['NoTelp3'].value,
                        NoFax: t['NoFax'].value,
                        Email: t['Email'].value,
                        Website: t['Website'].value,
                        NoNPWP: t['NoNPWP'].value,
                        MataUang: t['MataUang'].value,
                        TypePembayaran: t['TypePembayaran'].value,
                        NoAkun: t['NoAkun'].value,
                        Active: t['Active'].checked,
                        TemPembayaran: t['TemPembayaran'].value,

                        BatasKredit: parseFloat(isetup.cleave_BatasKredit.getRawValue()) || 0,
                        //BatasKredit: t['BatasKredit'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id: $(value).data('id'),
                                Nama: $(value).find('.Nama').val(),
                                Alamat: $(value).find('.Alamat').val(),
                                TelpKantor: $(value).find('.TelpKantor').val(),
                                TelpRumah: $(value).find('.TelpRumah').val(),
                                HP: $(value).find('.HP').val(),
                                Fax: $(value).find('.Fax').val(),
                                TglLahir: $(value).find('.TglLahir').val(),
                                Jabatan: $(value).find('.Jabatan').val(),
                                Email: $(value).find('.Email').val(),
                                Keterangan: $(value).find('.Keterangan').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.form['Kategori'].value = '';
                isetup.form['TypePembayaran'].value = '';
                isetup.form['MataUang'].value = '';
                isetup.form['NoAkun'].value = '';
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        isetup.cleave_BatasKredit = new Cleave(isetup.form['BatasKredit'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });

        $(isetup.form['Kategori']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['TypePembayaran']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['MataUang']).select2({ allowClear: true, placeholder: ""});
        $(isetup.form['NoAkun']).select2({
            ajax: {
                url: "@Url.Action("Setup_SetupPerusahaanKerjasama", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        isetup.adddetailbody = (Id,Nama,Alamat,TelpKantor,TelpRumah,HP,Fax,TglLahir,Jabatan,Email,Keterangan) => {
            var _detail = '';
            _detail += '<tr data-id="' + Id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += `<td><input type="text" required class="form-control Nama" value="${Nama || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control Alamat" value="${Alamat || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control TelpKantor" value="${TelpKantor || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control TelpRumah" value="${TelpRumah || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control HP" value="${HP || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control Fax" value="${Fax || ''}"/></td>`;
            _detail += `<td><input type="date" class="form-control TglLahir" value="${TglLahir || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control Jabatan" value="${Jabatan || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control Email" value="${Email || ''}"/></td>`;
            _detail += `<td><input type="text" class="form-control Keterangan" value="${Keterangan || ''}"/></td>`;

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };
    });
</script>