﻿<style>
    #modallookupjasa table td,
    #modallookupjasa table th {
        white-space: nowrap;
    }
</style>
<div id="modallookupjasa" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Jasa</h4>
            </div>
            <form id="lookupjasa">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupjasa.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="JasaID">Kode<i></i></th>
                                    <th class="sorting" data-itable-sorting="JasaName">Nama<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupjasa.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupjasa;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupjasa = new iTable({
            url: '@Url.Action("ListLookupJasa")',
            table: document.getElementById('lookupjasa'),
            orderby: 'JasaID',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append(`<tr><td colspan="${$(itablelookupjasa.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`);
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupjasa.active(this)">';

                        // column
                        tbody += '<td>' + value.JasaID + '</td>';
                        tbody += '<td>' + value.JasaName + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });

        $('#modallookupjasa').on('shown.bs.modal', function (e) {
             $('#modallookupjasa [data-itable-filter="All"]').focus();
        });

        itablelookupjasa.active = (t) => {
            $(t).toggleClass('bg-primary');
        };

        //$(itablelookupjasa.table).find('[data-itable-filter="Kategori"]').select2();

        $('#modallookupjasa').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        itablelookupjasa.openmodal = () => {
            //itablelookupjasa.pageindex = 0;
            //$('#itablelookupjasa [data-itable-filter="Kelas"]').val(isetup.form['Kelas'].value);
            //if (isetup.form['Kelas'].value) {
            //    itablelookupbarang.refresh();
            //    $('#itablelookupjasa').modal();
            //    $('.modal-backdrop:last').css('z-index', $('#itablelookupjasa').css('z-index') - 1);
            //} else {
            //    alerterror('Data registrasi harus diisi');
            //}

            itablelookupjasa.pageindex = 0;
            itablelookupjasa.refresh();
            $('#modallookupjasa').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupjasa').css('z-index') - 1);

        }

        itablelookupjasa.selected = async (t) => {
            loading(true);
            let err = '';
            const detail = $(t).closest('.modal').find('table tbody tr.bg-primary');
            for (var i = 0; i < detail.length; i++) {
                var model = JSON.parse($(detail[i]).data('model'));
                if ($(isetup.form).find('.input-detail tbody tr[data-id="' + model.JasaID + '"]').length) {
                    alerterror(model.JasaName + ' sudah ada');
                } else {
                    const r = await itablelookupjasa.getdata(model.Id);
                    if (!r.IsSuccess) err = r.Message;
                    else {
                        isetup.adddetailbodyMCUDetail(
                            r.Data.JasaID,
                            r.Data.JasaName,
                            r.Data.ListHargaID
                        );
                        (r.Data.Detail).forEach(x => {
                            isetup.DetailKomponen.push(x);
                        });
                    }
                }
            }
            if (err) alerterror(err);
            $(t).closest('.modal').modal('hide');
            loading(false);
        };

        itablelookupjasa.getdata = (id) => {
            return new Promise(resolve => {
                $.ajax({
                    url: '@Url.Action("GetJasa")',
                    type: 'POST',
                    data: { id : id},
                    success: function (r) { resolve(JSON.parse(r)); },
                    error: function (xhr) {
                        resolve({
                            IsSuccess: false,
                            Message : xhr
                        });
                    },
                });
            });
        };
    });
</script>