﻿@using Marketing.Helper
<style>
    #dtjasa thead tr th:nth-child(3),
    #dtjasa tbody tr td:nth-child(3) {
        width:200px;
    }

    #dtjasa thead tr:nth-child(4),
    #dtjasa tbody td:nth-child(4) {
        width: 200px;
    }
    
    #dtjasa thead tr:nth-child(6),
    #dtjasa tbody td:nth-child(6) {
        width: 120px;
    }
    
    #dtjasa thead tr:nth-child(7),
    #dtjasa tbody td:nth-child(7) {
        width: 120px;
    }
</style>
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Tarif Kerjasama</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kode</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Copay" class="form-control hidden" />
                                        <input type="text" name="MaxHariRawatPerOpname" class="form-control hidden" />
                                        <input type="text" name="MaxHariRawatPerTahun" class="form-control hidden" />
                                        <input type="text" name="KelebihanPlafon" class="form-control hidden" />
                                        <input type="date" name="EndDate" class="form-control hidden" />
                                        <input type="date" name="StartDate" class="form-control hidden" />
                                        <input type="text" name="CustomerKerjasamaID" class="form-control hidden" />
                                        <input type="text" name="Customer_Kode_Customer" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Nama_Customer" class="form-control all-readonly" maxlength="100" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Jenis Kerjasama</label>
                                    <div class="col-md-9">
                                        <input type="text" name="JenisKerjasama_JenisKerjasama" class="form-control all-readonly" maxlength="100" required />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kelas Pelayanan</label>
                                    <div class="col-md-9">
                                        <select name="KelasPelayanan" class="form-control clear-create" required>@Html.Raw(HList.List_Kelas)</select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kelas Kontak</label>
                                    <div class="col-md-9">
                                        <select name="KelasKontak" class="form-control clear-create" required>@Html.Raw(HList.List_Kelas)</select>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#detailjasa" aria-controls="home" role="tab" data-toggle="tab">Detail Jasa</a></li>
                                <li role="presentation"><a href="#detailplafon" aria-controls="profile" role="tab" data-toggle="tab">Detail Plafon</a></li>
                                <li role="presentation"><a href="#detailformularium" aria-controls="profile" role="tab" data-toggle="tab">Formularium</a></li>
                                @*<li role="presentation"><a href="#plafonmixed" aria-controls="profile" role="tab" data-toggle="tab">Plafon Mixed</a></li>*@
                            </ul>
                            <div class="tab-content">
                                <div id="detailjasa" class="tab-pane active">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="dtjasa" class="table table-bordered input-detail detailjasa" style="width: 1800px";>
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" class="text-center view-hide">
                                                                <a id="jasa" onclick="itablelookupjasa.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                            </th>
                                                            <th>ID Jasa</th>
                                                            <th>Nama Jasa</th>
                                                            <th>Harga Khusus</th>
                                                            <th>Dokter</th>
                                                            <th>Harga Lama</th>
                                                            <th>Harga Baru</th>
                                                            <th>Ditanggung</th>
                                                            <th>Paket</th>
                                                            <th>Tanggal</th>
                                                            <th>Kelas</th>
                                                            <th>Lokasi</th>
                                                            <th>Tipe</th>
                                                            <th>Cito</th>
                                                            <th >Kat.Operasi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailplafon" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailplafon">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a  onclick="isetup.adddetailbodydetailplafon('','','')"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>Katergori Plafon</td>
                                                            <td>Ditanggung</td>
                                                            <td style="width:300px;">NilaiPlafon</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailformularium" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailformularium">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a  onclick="itablelookupformularium.openmodal()"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>ID</td>
                                                            <td>Deskripsi</td>
                                                            <td>Satuan</td>
                                                            <td>SubKategori</td>
                                                            <td>Formulariom</td>
                                                            <td style="width:300px;">Ditanggung</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="plafonmixed" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail plafonmixed">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick=""><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>NamaFlafon</td>
                                                            <td>WithObat</td>
                                                            <td style="width:300px;">NilaiMax</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalkomponen" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detail Komponen</h4>
            </div>
            <form autocomplete="off" onsubmit="isetup.detailkomponenonsubmit(event);">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td>Komponen</td>
                                                <td>Nilai</td>
                                                <td>Harga Lama</td>
                                                <td class="text-right" style="width:150px;">Harga Baru</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="modal-footer view-hide">
                    @*<button type="button" onclick="isetup.deletedetailkomponen()" class="btn btn-danger pull-left"><i class="glyphicon glyphicon-trash"></i> DELETE</button>*@
                </div>
            </form>
        </div>
    </div>
</div>        

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['CustomerKerjasamaID'].value = r.Data.CustomerKerjasamaID;
                    t['Customer_Kode_Customer'].value = r.Data.Customer_Kode_Customer;
                    t['Nama_Customer'].value = r.Data.Nama_Customer;
                    t['JenisKerjasama_JenisKerjasama'].value = r.Data.JenisKerjasama_JenisKerjasama;
                    t['Copay'].value = r.Data.Copay;
                    t['MaxHariRawatPerOpname'].value = r.Data.MaxHariRawatPerOpname;
                    t['MaxHariRawatPerTahun'].value = r.Data.MaxHariRawatPerTahun;
                    t['KelebihanPlafon'].value = r.Data.KelebihanPlafon;
                    t['EndDate'].value = r.Data.EndDate;
                    t['StartDate'].value = r.Data.StartDate;
                  
                    // detail
                    $(t).find('.detailjasa tbody').html('');
                    $(t).find('.detailplafon tbody').html('');
                    $(t).find('.detailformularium tbody').html('');
                    isetup.DetailKomponenClave = [];
                    $.each(r.DetailJasa, function (index, value) {
                        isetup.adddetailjasa(
                            value.JasaID,
                            value.JasaName,
                            value.Ditanggung,
                            value.ListHargaID,
                            value.ListHargaID,
                            value.Harga_Lama,
                            value.Harga_Baru,
                            value.Ditanggung,
                            value.Paket,
                            value.TglPerubahanHarga,
                            value.Kelas,
                            value.Lokasi,
                            value.Kelas,
                            value.Cyto,
                            value.KategoriName,
                            value.ListHargaID
                        );
                    });
                    isetup.DetailPlafonClave = [];
                    $.each(r.DetailPlafon, function (index, value) {
                        isetup.adddetailbodydetailplafon(
                            value.KategoriPlafon,
                            value.Ditanggung,
                            value.NilaiPlafon
                        );
                    });
                    $.each(r.DetailFormularium, function (index, value) {
                        isetup.adddetailbodydetailformularium(
                            value.Kode_Barang,
                            value.BarangID,
                            value.Nama_Barang,
                            value.Satuan_Stok,
                            value.SubKategori,
                            value.Formularium,
                            value.Ditanggung
                        );
                    });

                    isetup.DetailKomponen = r.DetailDetail;

                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        //$('.jasa').addClass('disabled');
                         $(isetup.form['CustomerID']).attr('readonly', 'readonly');
                         if ($(isetup.form['KelasPelayanan']).value === "" && $(isetup.form['KelasKontak']).value === "") {
                             alerterror('ISI KELAS PELAYANAN BOS');
                         }
                     }

                    if (isetup.form['_PROCESS'].value === 'VIEW')
                        $('#modaldetailkomponen .view-hide').hide();
                    else
                        $('#modaldetailkomponen .view-hide').show();

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param
                        CustomerKerjasamaID: t['CustomerKerjasamaID'].value,
                        Customer_Kode_Customer: t['Customer_Kode_Customer'].value,
                        Nama_Customer: t['Nama_Customer'].value,
                        JenisKerjasama_JenisKerjasama: t['JenisKerjasama_JenisKerjasama'].value,
                        Copay: t['Copay'].value,
                        MaxHariRawatPerOpname: t['MaxHariRawatPerOpname'].value,
                        MaxHariRawatPerTahun: t['MaxHariRawatPerTahun'].value,
                        KelebihanPlafon: t['KelebihanPlafon'].value,
                        StartDate: t['StartDate'].value,
                        StartDate: t['StartDate'].value,
                        EndDate: t['EndDate'].value,

                        detailjasa: $.map($(t).find('.detailjasa tbody tr'), function (value) {
                            return {
                                CustomerKerjasamaID: t['CustomerKerjasamaID'].value,
                                ListHargaID: $(value).find('.ListHargaID').val(),
                                ListHargaIDLama: $(value).find('.listhargaid').val(),
                                HargaLama: getfloatfromcurrency($(value).find('.hargalama').val()),
                                HargaBaru: getfloatfromcurrency($(value).find('.hargabaru').val()),
                                Included: $(value).find('.Ditanggung')[0].checked,
                                TglPerubahanHarga: $(value).find('.Tanggal').val(),
                                HonorDefault: $(value).find('.Cyto')[0].checked,
                                Honor: $(value).find('.id').val(),
                              
                            }
                        }),
                        detailplafon: $.map($(t).find('.detailplafon tbody tr'), function (value) {
                            return {
                                CustomerKerjasamaID: t['CustomerKerjasamaID'].value,
                                KategoriPlafon : $(value).find('.Id').val(),
                                Ditanggung: $(value).find('.Ditanggung')[0].checked,
                                NilaiPlafon: getfloatfromcurrency($(value).find('.NilaiPlafon').val()),
                                //NilaiPlafon: $(value).find('.NilaiPlafon').val(),
                            }
                        }),
                        detailformularium: $.map($(t).find('.detailformularium tbody tr'), function (value) {
                            return {
                                CustomerKerjasamaID: t['CustomerKerjasamaID'].value,
                                BarangID: $(value).find('.BarangID').val(),
                                Subkatergori: $(value).find('.Subkatergori').val(),
                                Include: $(value).find('.Formularium ')[0].checked,
                                Ditanggung: $(value).find('.Ditanggung')[0].checked,
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                //$(isetup.form).find('.detailjasa tbody').html('');
                //$(isetup.form).find('.detailanggota tbody').html('');
                //isetup.form['JasaTarif'].value = '';
                isetup.init();
            }
        });

        isetup.detailsectionoptions = '@Html.Raw(HList.List_Section)';

        isetup.DetailKomponenClave = [];

        isetup.adddetailjasa = (jasaid, jasanama, listhargaid, hargakhusus, dokter, hargalama, hargabaru, ditanggung, paket, tanggal, kelas, lokasi, tipe, cito, katoperasi, lhargaid, hidedelete) => {
            if ($(isetup.form).find('.detailjasa tbody tr[data-id="' + jasanama + '"]').length) {

                alerterror(jasanama + ' sudah ada');
                return;
            }
            

            //var JasaTarif = $('#JasaTarif').val();
            var _detail = '';
            _detail += '<tr data-id="' + jasaid + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += `<a href="#" onclick="isetup.openmodalkomponen('${lhargaid}')" class="text-info"><i class="icon-eye"></i></a>`;
            //if (!hidedelete) {
            //}
            _detail += '</td>';
            _detail += '<td class="text-center view-hide">';
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';
            // input

            _detail += '<td class="td-text jasaid">' + jasaid + '</td>';
            _detail += '<td class="td-text"><input type="text" class="form-control jasanama hidden" value="' + jasanama + '" />' + jasanama + '</td>';
            _detail += '<td class="td-text hidden"><input type="text" class="form-control ListHargaID" value="' + listhargaid + '" />' + listhargaid + '</td>';
            _detail += '<td class="text-center"><input type="checkbox" class="HargaKhusus" ' + (hargakhusus ? 'checked' : '') + ' /></td>';
            _detail += '<td><input type="text" class="form-control Dokter" value="' + dokter + '" /></td>';
            _detail += '<td><input type="text"  class="form-control text-right hargalama" min="0" value="' + getcurrencyfromfloat(hargalama) + '" /></td>';
            _detail += '<td><input type="text"  class="form-control text-right hargabaru" min="0"  value="' + getcurrencyfromfloat(hargabaru) + '" /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Ditanggung" ' + (ditanggung ? 'checked' : '') + ' /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Paket" ' + (paket ? 'checked' : '') + ' /></td>';
            _detail += '<td><input type="date" required name="" class="form-control Tanggal" value="' + tanggal + '" /></td>';
            _detail += '<td><input type="text" class="Kelas" value="' + kelas + '" /></td>';
            _detail += '<td><input type="text" class="form-control Lokasi" value="' + lokasi + '" /></td>';
            _detail += '<td><input type="text" class="form-control JenisKerjasama" value="' + tipe + '" /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Cyto" ' + (cito ? 'checked' : '') + ' /></td>';
            _detail += '<td><input type="text" class="form-control KategoriName" value="' + katoperasi + '" /></td>';
            _detail += '<td class="hidden"><input type="text" class="form-control lhargaid " value="' + lhargaid + '" />' + lhargaid + '</td>';
            

            _detail += '</tr>';
            $(isetup.form).find('.detailjasa tbody').append(_detail);

            isetup.DetailKomponenClave.push({
                id: jasaid,
                hargalama: new Cleave($(isetup.form).find('.detailjasa tbody tr:last .hargalama')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                hargabaru: new Cleave($(isetup.form).find('.detailjasa tbody tr:last .hargabaru')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });

            
            hitungstlhdiskon();
        };

        isetup.DetailActhive = '';
        isetup.DetailKomponen = [];
        isetup.DetailKomponenClave = [];

        $('#modalkomponen').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        isetup.deletedetailkomponen = () => {
            removedetail($(isetup.form).find(`.input-detail tr[data-id="${isetup.DetailActhive}"]`));
            isetup.DetailKomponen = isetup.DetailKomponen.filter(x => x.Id != isetup.DetailActhive);
            hitungstlhdiskon();
            $('#modalkomponen').modal('hide');
            isetup.DetailActhive = '';
        };

        isetup.openmodalkomponen = (listhargaid) => {
            $('#modalkomponen .input-detail tbody').html('');
            isetup.DetailActhive = listhargaid;
            isetup.DetailKomponenClave = [];

            //$(isetup.form).find('.detailjasa tbody').find('tr').remove();

            $.ajax({
                url: '@Url.Action("GetJasaPaketMCUKomponen")',
                type: 'POST',
                data: {
                    id: listhargaid
                },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        isetup.DetailKomponen = r.DetailKomponen;
                        $.each(r.DetailKomponen, function (index, z) {
                            let tr = ``;
                            tr += `<tr data-id='${z.Id}'>`;
                            tr += `<td class="td-text">${z.KomponenName}</td>`;
                            tr += `<td class="td-text">${z.NilaiPersen}</td>`;
                            tr += `<td><input type='text' class='form-control text-right HargaLama' readonly value='${z.HargaLama}'/></td>`;
                            tr += `<td><input type='text'  class='form-control text-right HargaBaru' readonly value='${z.HargaBaru}'/></td>`;
                            tr += `</tr>`;
                            $('#modalkomponen .input-detail tbody').append(tr);
                            if (isetup.form['_PROCESS'].value != 'VIEW') {
                                isetup.DetailKomponenClave.push({
                                    id: z.Id,
                                    HargaLama: new Cleave($('#modalkomponen .input-detail tbody tr:last .HargaLama')[0], {
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand'
                                    }),
                                    HargaBaru: new Cleave($('#modalkomponen .input-detail tbody tr:last .HargaBaru')[0], {
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand'
                                    }),
                                });
                            }
                        });
                    }
                }

            });

            $('#modalkomponen').modal({ backdrop: 'static' });
            $('.modal-backdrop:last').css('z-index', $('#modalkomponen').css('z-index') - 1);
        }

        isetup.detailkomponenonsubmit = e => {
            e.preventDefault();
            let jumhargalama = 0;
            let jumhargabama = 0;
            $('#modalkomponen .input-detail tbody tr').each((i, v) => {
                const id = $(v).data('id');
                const HargaLama = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaLama.getRawValue()) || 0;
                const HargaBaru = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaBaru.getRawValue()) || 0;
                isetup.DetailKomponen.find(x => x.JasaId === isetup.DetailActhive && x.Id === id).HargaLama = HargaLama;
                isetup.DetailKomponen.find(x => x.JasaId === isetup.DetailActhive && x.Id === id).HargaBaru = HargaBaru;
                jumhargalama += HargaLama;
                jumhargabama += HargaBaru;
            });
            $(isetup.form).find(`.detailjasa tbody tr[data-id="${isetup.DetailActhive}"] .HargaLama`).val(getcurrencyfromfloat(jumhargalama) || '0');
            $(isetup.form).find(`.detailjasa tbody tr[data-id="${isetup.DetailActhive}"] .HargaBaru`).val(getcurrencyfromfloat(jumhargabama) || '0');
            $('#modalkomponen').modal('hide');
            hitungstlhdiskon();
        };

        isetup.DetailPlafonClave = [];

        isetup.adddetailbodydetailplafon = (kategoriflapon, ditanggung, nilaiplafon, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailplafon tbody tr[data-id="' + kategoriflapon + '"]').length) {
                alerterror(kategoriflapon + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + kategoriflapon + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += `<td><select class="Id" required>${kategoriflapon ? `<option value='${kategoriflapon}'>${kategoriflapon} - ${kategoriflapon}</option>` : ''}</select></td>`;
            _detail += '<td class="text-center"><input type="checkbox" class="Ditanggung" ' + (ditanggung ? 'checked' : '') + ' /></td>';
            _detail += '<td><input type="text"  class="form-control text-right NilaiPlafon" min="0" onchange="hitungstlhdiskon()"  value="' + getcurrencyfromfloat(nilaiplafon) + '" /></td>';
            //_detail += '<td><input type="text" class="form-control NilaiPlafon" value="' + nilaiplafon + '" /></td>';


            _detail += '</tr>';
            $(isetup.form).find('.detailplafon tbody').append(_detail);

            isetup.DetailPlafonClave.push({
                id: kategoriflapon,
                nilaiplafon: new Cleave($(isetup.form).find('.detailplafon tbody tr:last .NilaiPlafon')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });

            $(isetup.form).find('.detailplafon tbody tr:last select').select2({
                ajax: {
                    url: "@Url.Action("Plafon", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Id + ' - ' + value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };

        isetup.adddetailbodydetailformularium = (id, barangid, deskripsi, satuan, subkategori, formularium, ditanggung, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailformularium tbody tr[data-id="' + id + '"]').length) {
                alerterror(id + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="hidden"><input type="text" class="form-control BarangID" value="' + barangid + '" /></td>';
            _detail += '<td class="td-text">' + id + '</td>';
            _detail += '<td class="td-text">' + deskripsi + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text Subkatergori">' + subkategori + '</td>';
            //_detail += '<td class="text-center"><input type="checkbox" class="Subkatergori" ' + (subkategori ? 'checked' : '') + ' /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Formularium" ' + (formularium ? 'checked' : '') + ' /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Ditanggung" ' + (ditanggung ? 'checked' : '') + ' /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailformularium tbody').append(_detail);

        };

       
    });
    function hitungstlhdiskon() {
        var r = 0;
        $.each($('.detailjasa tbody tr td:nth-child(4) input'), function (index, value) {
                r += getfloatfromcurrency(value.value) || 0;
        });
        r = Math.ceil(r);
        $("#HargaSmblmDiskon").val(getcurrencyfromfloat(r));
        hitungdiskon();
    }

    function hitungdiskon() {
        var diskontotal = getfloatfromcurrency($("#DiskonTotal").val()) || 0;
        var hargasmblmdiskon = getfloatfromcurrency($("#HargaSmblmDiskon").val()) || 0;

        var jumlahdiskon = hargasmblmdiskon * diskontotal / 100;
        var hargasetelahdiskon = hargasmblmdiskon - jumlahdiskon;
        $("#HargaStlhDiskon").val(getcurrencyfromfloat(hargasetelahdiskon));
        $("#Tunai").val(getcurrencyfromfloat(hargasetelahdiskon));
        $("#Total").val(getcurrencyfromfloat(hargasetelahdiskon));
    }

    function hitungtotalbayar() {
        var hargastlhdiskon = getfloatfromcurrency($("#HargaStlhDiskon").val()) || 0;
        var shhc = parseFloat(isetup.clave_shhc.getRawValue()) || 0;
        var perusahaan = parseFloat(isetup.clave_perusahaan.getRawValue()) || 0;


        var tunai = hargastlhdiskon - shhc - perusahaan;
        $("#Tunai").val(getcurrencyfromfloat(tunai));


    }

    function getjasapaketmcu() {
        $(isetup.form).find('.detailjasa tbody').find('tr').remove();
        var komponen = [];
        $.ajax({
            url: '@Url.Action("GetJasaPaket")',
            type: 'POST',
            data: {
                id: $('#JasaTarif option:selected').val()
            },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $.each(r.detailjasa, function (index, value) {
                        isetup.adddetailjasa(
                            value.JasaID,
                            value.JasaName,
                            value.Harga,
                            value.SectionID,
                            value.SectionName
                        );
                    });
                    hitungstlhdiskon();
                }
            }

        });

    }

    function checkedpaket() {
        if ($(isetup.form['KelasPelayanan']).value === "-" && $(isetup.form['KelasKontak']).value === "-") {
            $('#jasa').removeClass('disabled');
        }
        else {
            $('#jasa').addClass('disabled');
            $('#jasa').val('');
        }
    }

</script>

