﻿@using Marketing.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Anggota Kerjasama</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="IdPerusahaan" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kode Perusahaan</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" required name="KodePerusahaan" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupperusahaan.openmodal()"><i class="icon-search4"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Perusahaan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NamaPerusahaan" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Anggota</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="NoAnggota" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">KLP</label>
                                    <div class="col-md-9">
                                        <select name="KLP" required class="form-control">
                                            @Html.Raw(HList.Kerjasama_SetupAnggotaKerjasama_KPL)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="Nama" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Gender</label>
                                    <div class="col-md-9">
                                        <select name="Gender" class="form-control">
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tgl Lahir</label>
                                    <div class="col-md-9">
                                        <input type="date" name="TglLahir" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Alamat</label>
                                    <div class="col-md-9">
                                        <textarea name="Alamat" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Phone</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Phone" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No HP</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoHP" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Identitas</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoIdentitas" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Jabatan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Jabatan" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Departemen</label>
                                    <div class="col-md-9">
                                        <select name="Departemen" class="form-control">
                                            @Html.Raw(HList.Kerjasama_SetupAnggotaKerjasama_Departemen)
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">VIP</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="VIP"/>
                                            VIP
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tambah Iuran</label>
                                    <div class="col-md-9">
                                        <input type="text" name="TambahIuran" class="form-control text-right" />
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">DIIIS JIKA STAF KELUAR DARI PERUSAHAAN</div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Keluar</label>
                                            <div class="col-md-9">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="Keluar" />
                                                    Keluar
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tgl Keluar</label>
                                            <div class="col-md-9">
                                                <input type="date" name="TglKeluar" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['IdPerusahaan'].value = r.Data.IdPerusahaan;
                    t['KodePerusahaan'].value = r.Data.KodePerusahaan;
                    t['NamaPerusahaan'].value = r.Data.NamaPerusahaan;
                    t['NoAnggota'].value = r.Data.NoAnggota;
                    t['KLP'].value = r.Data.KLP;
                    t['Nama'].value = r.Data.Nama;
                    t['Gender'].value = r.Data.Gender;
                    t['TglLahir'].value = r.Data.TglLahir;
                    t['Alamat'].value = r.Data.Alamat;
                    t['Phone'].value = r.Data.Phone;
                    t['NoHP'].value = r.Data.NoHP;
                    t['NoIdentitas'].value = r.Data.NoIdentitas;
                    t['Jabatan'].value = r.Data.Jabatan;
                    t['Departemen'].value = r.Data.Departemen;
                    t['VIP'].checked = r.Data.VIP;
                    //t['KeteranganVIP'].value = r.Data.KeteranganVIP;
                    //t['TambahIuran'].value = r.Data.TambahIuran;
                    t['Keluar'].checked = r.Data.Keluar;
                    t['TglKeluar'].value = r.Data.TglKeluar;
                    isetup.clave_TambahanIuran.setRawValue(r.Data.TambahIuran);

                    isetup.init();
                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(t['NoAnggota']).attr('readonly', 'readonly');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        IdPerusahaan: t['IdPerusahaan'].value,
                        NoAnggota: t['NoAnggota'].value,
                        KLP: t['KLP'].value,
                        Nama: t['Nama'].value,
                        Gender: t['Gender'].value,
                        TglLahir: t['TglLahir'].value,
                        Alamat: t['Alamat'].value,
                        Phone: t['Phone'].value,
                        NoHP: t['NoHP'].value,
                        NoIdentitas: t['NoIdentitas'].value,
                        Jabatan: t['Jabatan'].value,
                        Departemen: t['Departemen'].value,
                        VIP: t['VIP'].checked,
                        //KeteranganVIP: t['KeteranganVIP'].value,
                        //TambahIuran: t['TambahIuran'].value,
                        TambahIuran: parseFloat(isetup.clave_TambahanIuran.getRawValue()),
                        Keluar: t['Keluar'].checked,
                        TglKeluar: t['TglKeluar'].value,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.form['KLP'].value = '';
                isetup.form['Departemen'].value = '';
                isetup.init();
            }
        });

        isetup.clave_TambahanIuran = new Cleave(isetup.form['TambahIuran'], {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand'
        })

        $(isetup.form['KLP']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['Departemen']).select2({ allowClear: true, placeholder: "" });
    });
</script>